@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Index";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Why to travel?</h1>
        <p class="lead text-muted"><i>“What you’ve done becomes the judge of what you’re going to do — especially in other people’s minds.  When you’re traveling, you are what you are right there and then.  People don’t have your past to hold against you.  No yesterdays on the road.”<b> -William Least Heat Moon</b></i></p>
        <p>
            <a href="#" class="btn btn-primary my-2 shadow-lg">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2 shadow-lg">Secondary action</a>
        </p>
    </div>
</section>



<div class="card mb-3">
    <div class="row">
        @foreach (var movie in Model)
        {

            <div class="col-md-3">
                <div class="card mb-3 shadow-lg border-primary" style="margin-top:20px">
                    <h3 class="card-header">@movie.Name</h3>
                    <div class="card-body">
                        <h5 class="card-title">city Name</h5>
                    </div>
                   
                    <img style="height: 200px; width: 100%; display: block;" src="~/img/1.jpg" alt="@movie.Name">

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="card-link" asp-action="Details" asp-route-id="@movie.MovieId">Information</a>
                            <a class="card-link" href="#">Another link</a>
                        </div>
                    </div>
                    <div class="card-footer text-info">
                        somthing about the trip
                    </div>
                </div>



            </div>
        }
    </div>
</div>
